/* https://stackoverflow.com/questions/55476980/aligning-few-components-horizontally-in-react */
.flexbox-container {
  display: flex;
  flex-direction: row;
}

#container {
  height: 100%;
}

#jobsources {
  height: 100%;
  width: 30%;
}

#jobinfo {
  height: 100%;
  width: 45%;
}

#applicationinfo {
  height: 100%;
  width: 45%;
}
